<?xml version="1.0"?>
<launch>
    <arg name="pwm" default="true"/>

    <include file="$(find guppy_bringup)/launch/bringup.launch">
        <arg name="debug" value="true"/>
        <arg name="pwm" value="$(arg pwm)"/>
    </include>



    <node pkg="guppy_tasks" type="depth_keeping_sm.py" name="depth_keeping_sm" output="screen"/>
    
    
        

</launch>